/* custom css for Shepherd elements */
.custom-shepherd-popup.shepherd-element {
  box-shadow: 0 4px 8px #7d7d7d;
  border-radius: 12px;
  padding: 4px;
  max-width: 280px;
}

.shepherd-element.-intro {
  max-width: 450px;
  padding: 8px 16px;
}

.shepherd-element.-intro .shepherd-text {
  font-size: 18px;
  padding: 16px 16px 24px 16px;
}

.shepherd-element.-intro .shepherd-header {
  padding: 0;
}

.shepherd-element.-intro .shepherd-footer {
  display: flex;
  justify-content: space-around;
}

.shepherd-header {
  padding: 0 8px 4px 8px;
}

.shepherd-header {
  padding: 0 8px 4px 8px;
}

.shepherd-footer {
  padding: 4px 8px 8px 8px;
}

.shepherd-cancel-icon {
  font-size: 24px;
}

.shepherd-text {
  padding: 0 8px;
}

.shepherd-button {
  background-color: #b8a7ff;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.shepherd-button:hover {
  background-color: #b8a7ffba !important; 
}

.shepherd-arrow {
  display: none;
}

.shepherd-element.-left::after{ /* right arrow */
  content: ' ';
  position: absolute;
  top: 50%;
  left: 99%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='%23b8a7ff' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3' /%3E%3C/svg%3E%0A");
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='%23b8a7ff' class='size-7'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3' /%3E%3C/svg%3E%0A"); */
}

.shepherd-element.-right::after{ /* left arrow */
  content: ' ';
  position: absolute;
  top: 50%;
  right: 99%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='%23b8a7ff' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18' /%3E%3C/svg%3E%0A");
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='%23b8a7ff' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18' /%3E%3C/svg%3E%0A"); */
}

.shepherd-element.-bottom::after{ /* up arrow */
  content: ' ';
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='%23b8a7ff' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18' /%3E%3C/svg%3E%0A");
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='%23b8a7ff' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18' /%3E%3C/svg%3E%0A"); */
}
