.future-letter-button {
    background-color: #ffe59a;
    color: #3d3d3d;
    border-radius: 30px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    text-transform: none;
    margin: 8px;
    text-decoration: none;
}

.future-letter-button:disabled {
    background-color: #d1d5db; 
    color: #6b7280;
  } 